<div class="form">
	<%= semantic_form_for(@post.comments.build) do |f| %>
		<%= f.inputs :name => 'Tell me what you think' do %>
			<%= f.input :post_id, :as => :hidden %>
			<%= f.input :name, :placeholder => "Type your name" %>
			<%= f.input :email, :placeholder => "Type your email address", 
				:hint => "Will not be displayed" %>
			<%= f.input :content, :placeholder => "Type your message" %>
			<%= f.buttons %>
		<% end %>
	<% end %>
</div>