<% set_post_list_title %>

<%= paginate @posts %>

<div class="posts">
<% @posts.each do |post| %>
  <div class="post">
  
    <%= link_to(post_path(post.slug)) do %>
      <h2><%= post.title %></h2>
    <% end %>
    
    
    <%= link_to(post_path(post.slug)) do %>
      <div class="image"><%= image_tag post.file.url(:medium), :alt => post.title, :title => post.title %></div>
    <% end %>

    <div class="description"><p><%= description(post) %></p></div>
    
	<%= render :partial => "tags", :locals => {:post => post} %>
	
    <div class="publication_date">
      <p>Posted on <strong><%= post.publication_date %></strong></p>
    </div>

  </div>
  <div class="post_separator"></div>
<% end %>
</div>

<%= paginate @posts %>
